@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400&display=swap");

:root {
  --font-color-dark: #2f2f39;
  --font-color-light: #f4f4f4;

  --background-color-white: #f4f4f4;
  --background-color-dark: #2f2f39;
  --background-color-black: #000;

  --section-color-blue: #2c3ee2;
  --section-color-yellow: #ebb62e;
  --section-color-purple: #762eeb;

  --hue-rotate-blue: invert(19%) sepia(75%) saturate(7315%) hue-rotate(230deg)
    brightness(93%) contrast(90%);
  --hue-rotate-purple: invert(49%) sepia(70%) saturate(6607%) hue-rotate(247deg)
    brightness(100%) contrast(87%);
  --hue-rotate-yellow: invert(30%) sepia(100%) saturate(510%) hue-rotate(3deg)
    brightness(107%) contrast(84%);

  --header-font: "Karantina", sans-serif;
  --paragraph-font: "Roboto", sans-serif;

  --font-weight-light: 400;
  --font-style-normal: normal;

  --title-size: 5.75rem;
  --sub-title-size: 2rem;
  --heading-size: 4rem;
  --paragraph-size: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;

}

body {
  min-height: 100vh;
  position: relative;

  font-family: var(--header-font);

  color: var(--font-color-dark);

  background-image: url("../assets/images/tile.png");
  background-repeat: repeat;
  background-size: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 40vh;
  position: relative;
}

h1 {
  font-size: var(--title-size);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-light);
  position: relative;
}

.pronouns {
  position: absolute;
  top: -1em;
  right: 50%;
  translate: 50%;

  font-size: 1.5rem;
}

h2 {
  font-size: var(--sub-title-size);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-light);
}

h3 {
  font-size: var(--heading-size);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-light);

  line-height: 0.8em;
  margin: 1.3em 0 0.3em;
}

p {
  font-size: var(--paragraph-size);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-light);
  font-family: var(--paragraph-font);

  margin: 1em 0;
  max-width: 40em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  height: 20vh;
  background-color: var(--background-color-dark);
}

footer svg {
  color: var(--font-color-light);
  height: 3em;
}

svg:hover {
  transform: scale(1.2);
}

/* Home page  */

.indexSliderContainer {
  display: flex;
  align-items: flex-end;

  overflow-x: hidden;

  min-height: 60vh;
  height: 60vh;
  min-width: 100vw;

  padding: 0;
}

.indexSlider {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;

  overflow-x: scroll;
  overflow-y: hidden;

  height: 100%;
  width: 100%;

  padding-right: calc(50% - 15em);
}

.indexSlider li:hover {
  transform: scale(1.2);
  z-index: 1;
}

.indexSlider li {
  list-style: none;
  position: relative;
}

.indexSlider img {
  height: 20em;
  margin-bottom: -4px;
  margin-left: -5em;
}

li .overlay {
  position: absolute;
  mix-blend-mode: screen;
}

.purpleOverlay:hover {
  filter: var(--hue-rotate-purple);
}

.blueOverlay:hover {
  filter: var(--hue-rotate-blue);
}

.yellowOverlay:hover {
  filter: var(--hue-rotate-yellow);
}

/* Blog page */

.blogHeader {
  min-height: 100vh;
  max-height: 100vh;
  justify-content: flex-start;
  padding-top: 20vh;
}

.backButton {
  position: absolute;
  top: 2em;
  left: 2em;

  color: var(--font-color-dark);
}

.nerdTitle {
  text-align: center;
}

header img {
  max-height: 50vh;
  max-width: 100vw;

  position: absolute;
  bottom: -1px;
  z-index: -2;
}

div {
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  z-index: -1;
}

.blue {
  background-color: var(--section-color-blue);
  mix-blend-mode: screen;
}

.yellow {
  background-color: var(--section-color-yellow);
  mix-blend-mode: screen;
}

.purple {
  background-color: var(--section-color-purple);
  mix-blend-mode: screen;
}

.light {
  color: var(--font-color-light);
}

.dark {
  color: var(--font-color-dark);
}

main {
  padding: 2em;
  min-height: 100vh;
  position: relative;
}

pre {
  display: flex;
  border-radius: 0.5em;
  background-color: var(--background-color-dark);
  padding: 1.5em;
  color: var(--font-color-light);
  max-width: 60em;
  overflow: scroll;
}

.toTop{
  display: none;
}

/* desktop size */

@media (min-width: 768px) {
  main{
    margin: auto;
    max-width: 50em;
  }

  .blogHeader {
    flex-direction: row;
    padding-top: 8vh;
  }

  header img {
    min-height: 70vh;
  }

  .nerdTitle {
    text-align: right;
    margin-left: auto;
    margin-right: 10%;
  }

  .pronouns {
    right: 0;
    translate: 0;
  }
}

@media (min-width: 1015px) {
  .toTop{
    display: block;
    position: absolute;
    transform: rotate(90deg);
    bottom: 3em;
    right: -5em;
    z-index: 1;
    color: var(--font-color-dark);
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--font-color-light);
    background-color: var(--background-color-black);
  }

  footer{
    background-color: transparent;
  }

  pre{
    background-color: var(--background-color-black);
  }

  .toTop{
    color: var(--font-color-light);
  }
}
